* {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  font-size: 100%;
}
td img, th img {
  vertical-align: middle;
}
html {
  background-color: #ccb;
}
body {
  background-color: #ccb;
  color: #000;
  /*margin: 3% 10%;*/
  padding: 2% 7% 5% 7%;
}
a:visited,a:link {
  color: #621;
}
ul.upnav a:visited {
  color: #842;
}
a:hover {
  background-color: #eed;
}
em,p,address {
  font-family: Arial;
}
em,p.n {
  color: #621;
  font-style: italic;
}
hr {
  margin: 2em -2%;
}
p.m {
  margin-left: 1em;
  white-space: pre-wrap;
}
address {
  font-style: normal;
  padding-bottom: .5em;
}
p#add,td#con,p#footer {
  text-align: left;
  padding-left: 25%;
}
ul.upnav {
  width: 99%;
  margin: 0;
  padding: 0.25em 0;
  position: fixed;
  top: 0;
  left: 0;
}
ul.upnav li {
  list-style-type: none;
  display: inline;
  margin: 0 .5em;
  font-family: Verdana, sans-serif;
  font-size: 0.75em;
}
ul.upnav {
  background-color: #abc;
  border: 2px solid #842;
}
table.low {
  margin-top: 1em;
  width: 100%;
}
table.low td,p#add,p#footer {
  font-family: Verdana, sans-serif;
  font-size: .8em;
  font-weight: bold;
}
table.low td {
  text-align: center;
}
table.low p {
  font-family: Verdana, sans-serif;  
}
.fr {
  float: right;
}
.h {
  background-color: #abc;  
}
input,select {
  padding: .2em .5em;
  margin: .3em;
  background-color: #abc;
  border: 2px solid #842;
}
input:hover,select:hover {
  background-color: #eed;
}
fieldset {
  padding: 1em;
  margin: 1em;
}
