<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>@title@</title>
  <link rel="stylesheet" type="text/css" href="@assets_path@talk.css" media="all" />
</head>
<body>
<table class="low"><tr>
  <td>@prev_link@</td>
  <td></td>
</tr></table>
@messages@
<hr />
<p id="footer"></p>
<table class="low"><tr>
  <td>@next_link@</td>
  <td></td>
</tr></table>
</body>
</html>